@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Roman.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'SF Compact Rounded';
   src: url('../fonts/SFCompactRounded-Ultralight.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}